---
import { getCollection, render } from 'astro:content'
import { SHOW_BUY_BUTTON } from "astro:env/server";

import Layout from '../../layouts/Layout.astro'
import BuyButton from '../../components/BuyButton.astro'
import BookScore from '../../components/BookScore.astro'

export async function getStaticPaths() {
  const books = await getCollection("books")

  return books.map((book) => ({
      params: { id: book.slug},
      props: { book }
  })) 
}

const { book } = Astro.props
const { data, slug } = book
const { title, author, img, readtime, description, buy } = data

const { Content } = await render(book)
export const prerender = true
---

<Layout title={`${title} - Dev Books`}>
  <div class="flex gap-12">
    <aside class="flex flex-col items-center gap-4">
      <a href="/" class="opacity-80 hover:underline">← Volver atrás</a>
      <img 
        transition:name={`img-${slug}`}
        src={`/${img}`} alt={title} class="rounded w-72 h-auto"
      />

      <BookScore server:defer id="slug" >
        <span slot="fallback" class="text-xs opacity-72">Cargando puntuación</span>
      </BookScore>

      {
        SHOW_BUY_BUTTON && <BuyButton buy={buy} />
      }
    </aside>

    <main>
      <h1 transition:name={`title-${slug}`} class="text-4xl font-bold mb-4">{title}</h1>
      <div class="prose prose-invert">
        <Content />
      </div>
    </main>
  </div>
</Layout>

