---
import BentoItem from "./BentoItem.astro";

import { getI18N } from "@/i18n/index";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<section
  class={`
  w-full max-w[1400px]
  grid grid-cols-10 auto-rows-[32rem] gap-4
  mx-auto p-20
`}
>
  <BentoItem class="col-span-10 md:col-span-4" title={i18n.BENTO_TITLE_1}>
    <div
      slot="image"
      class="absolute left-0 top-0 bottom-0 w-full h-full
      group-hover:scale-110
      transition-scale duration-1000 ease-in-out
      opacity-90
      bg-center bg-cover bg-no-repeat bg-blend-luminosity bg-blue-900
      -z-10"
      style="background-image: url('/mountain.png')"
    >
    </div>
    <p set:html={i18n.BENTO_CONTENT_1} slot="content" class="max-w-xl" />
  </BentoItem>
  <BentoItem
    class="col-span-10 md:col-span-6"
    title={i18n.BENTO_TITLE_2}
    subtitle={i18n.BENTO_SUBTITLE_2}
  >
    <div
      slot="image"
      class="absolute left-0 top-0 bottom-0 w-full h-full
      group-hover:scale-110
      transition-scale duration-1000 ease-in-out
      opacity-90
      bg-center bg-cover bg-no-repeat bg-blend-luminosity bg-blue-900
      -z-10"
      style="background-image: url('/pistas.png')"
    >
    </div>
    <div slot="content">
      <p set:html={i18n.BENTO_CONTENT_2} slot="content" class="max-w-xl" />
    </div>
  </BentoItem>
  <BentoItem
    class="col-span-10 md:col-span-6"
    title={i18n.BENTO_TITLE_3}
    subtitle={i18n.BENTO_SUBTITLE_3}
  >
    <div
      slot="image"
      class="absolute left-0 top-0 bottom-0 w-full h-full
      group-hover:scale-110
      transition-scale duration-1000 ease-in-out
      opacity-90
      bg-center bg-cover bg-no-repeat bg-blend-luminosity bg-blue-900
      -z-10"
      style="background-image: url('/grefg.png')"
    >
    </div>
    <p set:html={i18n.BENTO_CONTENT_3} slot="content" class="max-w-xl" />
  </BentoItem>
  <BentoItem class="col-span-10 md:col-span-4" title={i18n.BENTO_TITLE_4}>
    <div
      slot="image"
      class="absolute left-0 top-0 bottom-0 w-full h-full
      group-hover:scale-110
      transition-scale duration-1000 ease-in-out
      opacity-90
      bg-center bg-cover bg-no-repeat bg-blend-luminosity bg-blue-900
      -z-10"
      style="background-image: url('/laptop.png')"
    >
    </div>
    <p slot="content" set:html={i18n.BENTO_CONTENT_4}>
  </BentoItem>
</section>
