---
import Layout from "../layouts/Layout.astro";
import {
  getLatestLaunches,
  getLaunchById,
} from "../services/spacex.service.ts";

const { id } = Astro.params;

let launch = null;

if (id) {
  launch = await getLaunchById({ id });
}

console.log(launch);

export async function getStaticPaths() {
  const launches = await getLatestLaunches();

  return launches.map((launch) => ({
    params: { id: launch.id },
  }));
}
---

<Layout title={`Lanzamiento ${id}`}>
  <article class="flex gap-y-4 flex-col">
    <img
      class="w-52 h-auto"
      src={launch?.links?.patch.small}
      alt={launch?.name}
    />
    <h2 class="text-4xl text-white font-bold">
      Launch #{launch?.flight_number}
    </h2>
    <pre>{launch?.id}</pre>
    <p class="text-lg">{launch?.details}</p>
  </article>
</Layout>
